.input {
    width: 250px;
    height: 50px;
    padding: 14px 15px;
}

.inputSmall {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 960px) {
    .input {
        width: 320px;
    }
}
