/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer base {
    body {
        @apply font-montserrat min-h-full bg-verydark text-normal text-white;
        font-weight: 400;
        line-height: 19px;
    }

    html {
        @apply min-h-full;
    }

    .skeleton {
        animation: skeleton-glow 1s linear infinite alternate;
        background: rgba(86, 86, 86,.2);
        background-clip: padding-box!important;
        border-color: rgba(86, 86, 86,.2)!important;
        border-radius: 2px;
        box-shadow: none!important;
        color: transparent!important;
        cursor: default;
        pointer-events: none;
        user-select: none;
    }

    .skeleton *, .skeleton:after, .skeleton:before {
        visibility: hidden!important;
    }

    @keyframes skeleton-glow {
        0% {
            background: rgba(86, 86, 86,.5);
            border-color: rgba(86, 86, 86,.9);
        }
        100% {
            background: rgba(48, 48, 48,.5);
            border-color: rgba(48, 48, 48,.9);
        }
    }

    h1 {
        @apply text-heading font-bold;
        letter-spacing: 0.8rem;
        line-height: 44px;
    }

    @screen lg {
        h1 {
            @apply text-title font-bold;
            line-height: 47px;
        }
    }

    h2 {
        @apply text-heading font-bold;
        line-height: 44px;
        margin-bottom: 50px;
        text-align: center;
    }

    .lead {
        @apply text-lead font-light;
        line-height: 34px;
    }
}

.bp3-control {
    @apply text-small text-white;
}

.bp3-control input:checked~.bp3-control-indicator {
    @apply bg-gold;
}

.bp3-control:hover input:checked~.bp3-control-indicator {
    @apply bg-gold;
}

.bp3-control.bp3-checkbox input:checked~.bp3-control-indicator:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 5c-.28 0-.53.11-.71.29L7 9.59l-2.29-2.3a1.003 1.003 0 00-1.42 1.42l3 3c.18.18.43.29.71.29s.53-.11.71-.29l5-5A1.003 1.003 0 0012 5z' fill='%23fff'/%3E%3C/svg%3E")
}

.bp3-control.bp3-checkbox input:indeterminate~.bp3-control-indicator:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 7H5c-.55 0-1 .45-1 1s.45 1 1 1h6c.55 0 1-.45 1-1s-.45-1-1-1z' fill='%23fff'/%3E%3C/svg%3E")
}

.custom-dialog-container{
    opacity:1;
    transform:scale(1);
    align-items:center;
    display:flex;
    justify-content:center;
    min-height:100%;
    pointer-events:none;
    user-select:none;
    width:100%;
    position: fixed;
    z-index: 20;
}
.bp3-overlay-inline .bp3-overlay-content, .bp3-overlay-scroll-container .custom-dialog-container {
    position: absolute;
}
.custom-dialog-container>.custom-dialog {
    pointer-events: all;
    user-select: text;
}
.custom-dialog-container.bp3-overlay-appear>.custom-dialog,
.custom-dialog-container.bp3-overlay-enter>.custom-dialog{
    opacity:0;
    transform:scale(.5);
}
.custom-dialog-container.bp3-overlay-appear-active>.custom-dialog,
.custom-dialog-container.bp3-overlay-enter-active>.custom-dialog{
    opacity:1;
    transform:scale(1);
    transition-duration:.3s;
    transition-property:opacity,transform,-webkit-transform;
    transition-timing-function:cubic-bezier(.54,1.12,.38,1.11);
}
.custom-dialog-container.bp3-overlay-exit>.custom-dialog{
    opacity:1;
    transform:scale(1)
}
.custom-dialog-container.bp3-overlay-exit-active>.custom-dialog{
    opacity:0;
    transform:scale(.5);
    transition-duration:.3s;
    transition-property:opacity,transform,-webkit-transform;
    transition-timing-function:cubic-bezier(.54,1.12,.38,1.11)
}
