.img {
    background: url(../../../../../assets/guru-badger.png) center center no-repeat;
    background-size: 318px 304px;
    width: 318px;
    height: 304px;
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .img {
        background-image: url(../../../../../assets/guru-badger@2x.png);
    }
}

.button {
    padding: 13px 26px;
}
